<div id="<%= dom_id article %>" class="col">
  <div class="card shadow-sm">
    <div class="card-body">
      <h2 class="card-text"><%= article.title %></h2>
      <p><%= @article.body %></p>
    </div>
  </div>
</div>