<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, class: 'w-100'%>
  </div>
  <div>
    <%= form.label :preview_image, style: "display: block" %>
    <%= form.file_field :preview_image %>
  </div>
  <div class="field">
    <%= form.label :body %>
    <%= form.rich_text_area :body %>
  </div>
  <div class="field">
    <%= form.check_box :published_at, {}, DateTime.now, nil %>
    <%= form.label :published_at, "Published" %>
  </div>
  <div class="col-11 offset-1 d-flex justify-content-end">
    <%= form.submit :class => 'btn btn-outline-secondary' %>
  </div>
<% end %>
