<div id="<%= dom_id article %>" class="col">
  <div class="card shadow-sm">
    <% if article.preview_image.present? %>
      <%= image_tag article.preview_image, height: '225', style: 'object-fit: contain; border-radius: 15px' %>
    <% else %>
      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#55595c"/>
        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
      </svg>
    <% end %>
    <div class="card-body">
      <p class="card-text"><%= article.title %></p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <%= link_to t('buttons.show_article'), article, class: "btn btn-sm btn-outline-secondary me-1" %>
          <% if can? :edit, article %>
            <%= link_to t('buttons.edit'), edit_article_path(article), class: "btn btn-sm btn-outline-secondary" %>
          <% end %>
        </div>
        <% if article.published_at? %>
          <small class="text-body-secondary"><%= t('helpers.published_at') %><%= article.published_at.to_fs(:short) %></small>
        <% end %>
      </div>

    </div>
  </div>
</div>