<h1><%= t('buttons.editing') %></h1>

<div class="col-10 offset-1 d-flex justify-content-end">
  <%= link_to t('buttons.show_article'), @article,  class: 'btn btn-outline-secondary me-1' %>
  <%= link_to t('buttons.show_all_articles'), articles_path,  class: 'btn btn-outline-secondary' %>
</div>

<div class="row">
  <div class="col-10 offset-1">
    <%= render "form", article: @article %>
  </div>
</div>
