<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


      <% @articles.each do |article| %>
        <%= render 'articles/index_article', article: article %>
      <% end %>

    </div>
  </div>
</div>
