<div class="row">
  <div class="col-10 offset-1 d-flex justify-content-end">
    <%= link_to t('buttons.show_all_articles'), articles_path, class: 'btn btn-outline-secondary me-1' %>
    <% if can? :edit, @article %>
      <%= link_to t('buttons.edit'), edit_article_path(@article), class: 'btn btn-outline-secondary me-1' %>
    <% end %>
    <% if can? :delete, @article %>
      <%= button_to t('buttons.delete'), @article, method: :delete, class: 'btn btn-danger px-3' %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-10 offset-1">
    <%= render @article %>
  </div>
</div>
