<footer class="text-body-secondary py-5">
  <div class="container">
    <p class="float-end mb-1">
      <%= link_to t('buttons.to_top'), '#', class: 'btn btn-outline-secondary' %>
    </p>
    <p class="mb-1">&COPY; <%= Date.current.year %> KavaFans. All rights reserved.</p>
  </div>
</footer>
