<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <%= link_to root_path do %>
        <%= image_tag("logo.svg", alt: "IHOP logo", height: "32") %>
      <% end %>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <%= link_to t('header.menu.news'), news_path, class: root_link_class(news_path) %>
        <%= link_to t('header.menu.cooking'), cooking_path, class: current_link_class(cooking_path) %>
        <%= link_to t('header.menu.roastering'), roastering_path, class: current_link_class(roastering_path) %>
        <%= link_to t('header.menu.other'), other_path, class: current_link_class(other_path) %>
        <%= link_to t('header.menu.about'), about_path, class: current_link_class(about_path) %>
      </ul>
      <div class="text-end">
        <% if user_signed_in? %>
          <div class="dropdown text-end d-flex">
            <div class="px-2 py-1"><b><%= current_user.nickname %></b> (<%= current_user.email %>)</div>
            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="<%= current_user.image %>" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small">
              <li><%= link_to t('header.new_article'), new_article_path, class: "dropdown-item"%></li>
              <li><%= link_to t('devise.shared.links.profile'), edit_user_registration_path, class: 'dropdown-item' %></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <%= button_to t('devise.sessions.sign_out'), destroy_user_session_path, class: "dropdown-item", method: :delete, form: { turbolink: false } %>
              </li>
            </ul>
          </div>

        <% else %>
          <%= link_to new_user_session_path do %>
            <button type="button" class="btn btn-outline-primary me-2"><%= t('devise.registrations.sign_in') %></button>
          <% end %>
          <%= link_to new_user_registration_path do %>
            <button type="button" class="btn btn-primary"><%= t('devise.registrations.sign_up') %></button>
          <% end %>
          <%= button_to  (image_tag("google.png", height: 38)), user_google_oauth2_omniauth_authorize_path, method: :post, :data => {turbo: "false"}, class: "btn btn-outline-primary me-2 p-0", :form_class => "d-block d-md-inline text-center" %>
      <% end %>

      </div>
    </div>
  </div>
</header>