<!DOCTYPE html>
<html>
  <head>
    <title>RubyistAlbum</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render "layouts/header" %>
  <%= render "layouts/flash_messages" %>
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <%= yield %>
    </div>
  </div>
  <%= render "layouts/footer" %>
  </body>
</html>
